<ion-header>
</ion-header> 

<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Welcome to MYBARBER</h1>
      <!-- <p>An agricultural sales application</p> -->
      <h2 style="margin-top: 80px;">Create Account</h2>
    </div>

    <form [formGroup]="registerForm" >
      <div class="login-form ion-padding">

        <div class="form-input">
          <ion-icon name="person-outline"></ion-icon>
          <ion-item>
            <ion-label></ion-label>
            <ion-input type="text" class="form-control styl" id="name" formControlName="name"  placeholder="NOM" required="name" ></ion-input>
          </ion-item>
        </div>
  
  
        <div class="form-input">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-item>
            <ion-label></ion-label>
            <ion-input type="email" placeholder="EMAIL" class="form-control styl" id="email" formControlName="email"></ion-input>
          </ion-item>
        </div>

        <div class="form-input">
          <ion-icon name="call-outline"></ion-icon>
          <ion-item>
            <ion-label></ion-label>
            <ion-input type="text" placeholder="Contact" class="form-control styl" id="contact" formControlName="contact" ></ion-input>
          </ion-item>
        </div>
  
  
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label></ion-label>
            <ion-input type="password" placeholder="PASSWORD" class="form-control styl" id="password" formControlName="password"></ion-input>
          </ion-item>
        </div>
  
        <!-- <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label></ion-label>
            <ion-input type="password" placeholder="Confirm PASSWORD" class="form-control styl" id="pass" formControlName="pass"></ion-input>
          </ion-item>
        </div> --> 
      </div>
  
  
      <div class="action-buttons ion-padding">
        <ion-button (click)="register()" size="large" class="login-button">Sign up</ion-button>
        <ion-button class="signup-button" size="large"  fill="outline" routerLink="/connexion" >Log in</ion-button>
      </div>
    </form>
    <!-- <form [formGroup]="this.authService.formData" (ngSubmit)="onSubmit()" style="margin-bottom: 200000px;">
      <div class="login-form ion-padding">
        <div class="form-input">
          <ion-icon name="person-outline"></ion-icon>
          <ion-item>
            <ion-label></ion-label>
            <ion-input type="text" class="form-control styl" id="name" formControlName="name"  placeholder="NOM" required="name" ></ion-input>
          </ion-item>
        </div>
  
  
        <div class="form-input">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-item>
            <ion-label></ion-label>
            <ion-input type="email" placeholder="EMAIL" class="form-control styl" id="email" formControlName="email"></ion-input>
          </ion-item>
        </div>

        <div class="form-input">
          <ion-icon name="call-outline"></ion-icon>
          <ion-item>
            <ion-label></ion-label>
            <ion-input type="text" placeholder="Contact" class="form-control styl" id="contact" formControlName="contact" ></ion-input>
          </ion-item>
        </div>
  
  
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label></ion-label>
            <ion-input type="password" placeholder="PASSWORD" class="form-control styl" id="password" formControlName="password"></ion-input>
          </ion-item>
        </div>
  
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label></ion-label>
            <ion-input type="password" placeholder="Confirm PASSWORD" class="form-control styl" id="pass" formControlName="pass"></ion-input>
          </ion-item>
        </div> 
      </div>
  
  
      <div class="action-buttons ion-padding">
        <ion-button type="submit" size="large" class="login-button">Sign up</ion-button>
        <ion-button class="signup-button" size="large"  fill="outline" routerLink="/connexion" >Log in</ion-button>
      </div>
    </form> -->
  </div>
</ion-content>
