<ion-header>
  <ion-toolbar>
    <ion-title>
      {{isEditMode ? 'Update' : 'Add'}} Product
    </ion-title>
    <ion-buttons slot="start" *ngIf = "!isEditMode">
      <ion-back-button defaultHref="/tab/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf = "isEditMode">
      <ion-button (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen>
  <form [formGroup]="form">
    <ion-card>
     <ion-item>
      <ion-label position="floating">Type</ion-label>
        <ion-input formControlName="type"></ion-input>
     </ion-item>
        
      
    </ion-card>
  
    <ion-card>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input #file type="file" required (change)="uploadFile($event)" formControlName="photo"></ion-input>
      </ion-item>
    </ion-card>

    
  
    <!-- <ion-card>
      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input type="number" formControlName="stock"></ion-input>
      </ion-item>
    </ion-card> -->
  
    <!-- <ion-card>
      <ion-item>
        <ion-label position="floating">Size</ion-label>
        <ion-input formControlName="size"></ion-input>
      </ion-item>
    </ion-card> -->
  
    <ion-card>
      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input type="number" formControlName="price"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-select formControlName="status" placeholder="Status">
          <ion-select-option value="available">Available</ion-select-option>
          <ion-select-option value="unavailable">Unavailable</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>
  
    <!-- <ion-card>
      <ion-item *ngFor="let cat of categorie">
        <ion-select formControlName="category" placeholder="Categorie">
          <ion-select-option>{{cat.title}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card> -->

    <ion-button expand="block" (click)="add()"  style="margin-top: 20px;"> 
      {{isEditMode ? 'Update' : 'Add'}} 
    </ion-button>
  </form>
</ion-content> 
 