<ion-header>
  <ion-toolbar>
    <ion-title>{{produit.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/orange.jpg" alt="">
  <div class = "ion-padding">
    <ion-text>
      <h1>{{produit.title}}</h1>
      <p class="ion-margin-vertical">{{produit.description }}</p>
      <h1>Size: {{produit.size}}</h1>
      <h1>Stock:{{produit.stock}}</h1>
      <h3 >FCFA {{produit.price}}</h3>
      <h1>{{produit.status}}</h1>
      
    </ion-text>

    <ion-button expand="block" (click)="openEditModal()">Edit</ion-button>
    <ion-button expand="block" color="danger" (click)="onDeleteProduct()">Delete</ion-button>
  </div>
</ion-content>