<ion-header>
  <ion-toolbar>
    <ion-title>Order No: {{ commandeSelect.id }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/order"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-card>
    <ion-card-content >
      <p>Status : {{ commandeSelect.status }}</p>
      <p>Acheteur : {{ commandeSelect.buyer_name }}</p>
      <p>Coiffures : {{ commandeSelect.product_names }}</p>
      <p>Price : FCFA {{ commandeSelect.total_amount }}</p>
      <p>AT : {{ commandeSelect.created_at |date }}</p>
    </ion-card-content>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" color="success" (click)="valider(order)">Valider</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" color="danger" (click)="annuler(order)">Annuler</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
