<ion-header>
  <ion-toolbar>
    <ion-title>Order No: {{ commandeSelect.id }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/order"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-card>
    <ion-card-content>
      <p>Statut : {{ commandeSelect.status }}</p>
      <p>Acheteur : {{ commandeSelect.buyer_name }}</p>
      <p>Coiffeur : {{ commandeSelect.seller_name }}</p>
      <p>Coiffures : {{ commandeSelect.product_names }}</p>
    </ion-card-content>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" color="success" (click)="valider()">Valider</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" color="danger" (click)="annuler()">Annuler</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
